ENV_SECRET_KEY=cole_aqui_uma_secret_key_do_django
ENV_DEBUG=True
ENV_ALLOWED_HOSTS=127.0.0.1,localhost
ENV_DATABASE_URL=sqlite:///db.sqlite3

# Exemplo para MySQL:
# ENV_DATABASE_URL=mysql://usuario:senha@localhost:3306/twjobs